@{
  Layout = "Shared/Layout";
  ViewBag.Title = "Home Page";
  ViewBag.Description = "All about home";
}

<h1>Please tell me your name</h1>

<form method="POST">
  <input type="text" name="name" />
  <button>Go</button>
</form>